// import global rules
@use "./sas/layout/global-rules";
//-------
@import "./sas/pages/contactstyle";

// @for $i from 1 through 2{
//     .class-#{$i}{
//         font-size: 10px + $i;
//     }
//     .class-#{$i+1}{
//         color: var(--main_color);
//         background-color:$violet;
//     }

// }

// $start : 10;
// @while $start <= 100{
//     .class1{
//         margin: 1px * $start; 
//     }
//     $start: $start + 10;
// }

// gride 
 

// $cols :12;
// @for $i from 1 through 12{
//         .class-#{$i}{
//             width: percentag($i,$cols);
//         }
//     }

@mixin breakpoint($point){
    @if $point == sm {
        @media (min-width: 576px ) and (max-width:768px){
            @content;
            
        }
    }@else if $point == md{
        @media (min-width: 768px ) and (max-width:992px) {
            @content;
            
        }
    }@else if $point == lg{
        @media (min-width: 992px ) and (max-width:1200px) {
            @content;
            
        }
    }@else if $point == xl{
        @media (min-width: 1200px ) and (max-width:1400px) {
            @content;
            
        }
    }@else if $point == xxl{
        @media (min-width: 1400px )  {
            @content; 
            
        }
    }@else if $point == xs{
        @media (max-width: 566px ) {
            @content; 
            
        } 
    }@else if $point == xxs{
        @media (max-width: 366px ) {
            @content; 
            
        } 
    }
}

.media {
    $vwport : xxs,xs,sm,md,lg,xl,xxl;
    $font : 0;
   @each $size in $vwport{
    @include breakpoint($size){
        font-size: $font+10px; 
         &::after{
        content: "#{$size}";
    }
    }
    $font : $font + 2; 
    
    } 
    
}  